---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
    
  <p>I am a Ph.D. student in Department of Computer Science at University of Virginia, advised by Prof. <a href="https://engineering.virginia.edu/faculty/aidong-zhang">Aidong Zhang</a>. <br />
    I obtained my B.S. degree in Mathematics at Fudan University and I was in the PhD program in Department of Statistics at University of Virginia. <br />
    My research interests include a variety of topics in Machine Learning and Data Mining, including optimization, federated learning, AutoML, and adversarial attacks.</p>
</div>


<div class="docs-section" id="news">
    <h4>News</h4>
    <ul>
        <li>[12/2023] One paper on federated learning accepted to AAAI'24. See you in Vancouver!</li>
        <li>[09/2023] Two papers on federated learning accepted to NeurIPS'23. </li>
        <li>[09/2023] Finished internship at Amazon Search, Palo Alto, CA as an Applied Scientist Intern working on LLM-empowered product widget title generation.</li>
        <li>[08/2023] Attended KDD'23 and presented our <a href="https://dl.acm.org/doi/abs/10.1145/3580305.3599333">paper</a> in Long Beach, CA.</li>
        <li>[05/2023] One paper on adversarial training accepted to KDD'23.</li>
        <li>[02/2023] Attended AAAI'23 for our paper on model interpretability in Washington, DC.</li>
        <li>[10/2022] Attended CIKM'22 for <a href="https://sites.google.com/view/fedgraph2022">FedGraph</a> workshop in Atlanta, GA</li>
        <li>[09/2022] Finished internship at Meta AI, Menlo Park, CA as a Research Scientist Intern working on data augmentation of IG Reels ranking models.</li>
        <li>[08/2022] Attended KDD'22 and presented our <a href="https://dl.acm.org/doi/abs/10.1145/3534678.3539298">paper</a> on AutoML in Washington, DC.</li>
    </ul>
    </div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications [<a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>]</h4>

  
  * indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="Vita">
  <h4>Vitæ</h4>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

